*{
padding: 0;
margin: 0;
box-sizing: border-box;

}


header {
     display: flex;
      justify-content: space-between;
      height: 60px;
      width: 100%;
      position: fixed;
      top: 0;
       background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
       align-items: center;
      
      

}
.logo_dpro img{
    width: 120px;
    height: 48px;
}

nav{
    display: flex;
   height: inherit;
   align-items: center;

}
nav ul{
       display: block;
      display: flex;
      height: inherit;
     
      


    
}

nav ul li{

list-style: none;
padding: 20px;
color: white;
height:inherit ;

}
nav ul li:hover{
   background-color: white;
   color: black;
   
}

nav ul li a {
    display: block;
    text-decoration: none;
    height: inherit;
   
}


footer ul li a {
    display: block;
    justify-content: center;
      padding: 10px;
    text-decoration: none;
    list-style: none;
     color: white;
}
.text_end{
    color: white;
    text-align: center;
    font-size: 10px;
}